/*
This is the Style page of html. All the modifications are done here. 
*/
input{
    font-size: 20px;
    align-self: center;
    font-family:monospace;
}
.input{
    background-color: rgb(253, 205, 59);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;

}
.input:hover, .input:active {
    background-color: rgb(192, 138, 23);
}


table{
    max-width:fit-content;
    min-width: 50px;
    color: black;
    font-size: 15px;
    margin: 1px auto;
    table-layout: auto;
}

table.classForm{
    max-width: fit-content;
    min-width: 50px;
    margin: 1px auto;
    table-layout: auto;
}
table.userForm{
    max-width: fit-content;
    min-width: 50px;
    margin: 1px auto;
    table-layout: auto;

}
table, th, td{
    background-color: white;
    border: 1px solid black ;
    padding: 1px;
    text-align: center;
    margin: 1px auto;
    table-layout: auto;

}

#DragonText{
    color: red;
    position: absolute;
    vertical-align: super;
    width:100%;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family:monospace;
    font-weight: bold;
}
#viewLabs:link, #viewLabs:visited{
    background-color: rgb(132, 233, 132);
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
#viewLabs:hover, #viewLabs:active{
    background-color: rgb(93, 161, 91);
}


#delete:link, #delete:visited{
    background-color: rgb(252, 118, 118);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
#delete:hover, #delete:active{
    background-color: rgb(173, 95, 95);
}
a:link, a:visited {
    background-color: rgb(253, 205, 59);
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
 
}
a:hover, a:active {
    background-color: rgb(192, 138, 23);
}



#home{
    max-width: fit-content ;
    min-width: 50px;
    margin: 1px auto;
    border: 5px solid black;
    background-color: white;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    font-family:monospace;
  }
#form {
    max-width: fit-content;
    min-width: 50px;
    align-self: center;
    border: 5px solid black;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    margin: 1px auto;
    font-family:monospace;


}

#OutForm {
    max-width: fit-content;
    /*background-color: rgb(253, 205, 59);*/
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 1px auto;
    color:rgb(2, 2, 2)
}

#id_role{
    background-color: white;
    color: rgb(192, 138, 23);
    font-size: 20px;
    width: 234px;
}


label1{
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-family: serif;
}
h3{
    margin: 1px auto;
    text-align: center;
    color: black;
}
textarea{
    width:230px;
    height: 35px;
}

h1 {
    color: white;
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #e5e5e5, 2px 2px #6a6a6a, 3px 3px black, 4px 4px black;
    text-align: center;
 }
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: rgb(253, 205, 59);
    zoom: 70%;
}

#submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
}


html {
    height:100%;
}
      
body {
    margin:0;
}
      
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(252, 249, 72) 50%,  rgb(192, 138, 23) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
      
.bg2, .image {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
      
.bg3, .image {
    animation-duration:5s;
}
      
/*.content {
        background-color:rgba(255,255,255,.8);
        border-radius:.25em;
        box-shadow:0 0 .25em rgba(0,0,0,.25);
        box-sizing:border-box;
        left:50%;
        padding:10vmin;
        position:fixed;
        text-align:center;
        top:50%;
        transform:translate(-50%, -50%);
}*/
      
h1 {
    font-family:monospace;
}
      
@keyframes slide {
     0% {
          transform:translateX(-25%);
        }
    100% {
          transform:translateX(25%);
        }
}

