{% extends "base.html" %}
{% block content %}
  <form id="form" method="post" action="">
      {% csrf_token %}
        <table class="generalForm">
            {{form}}
        </table>
      <br>
       <div id="submitButton">
      <input id="input" class="input" type="submit">
      </div>
  </form>

  <p>{{message}} </p>
  
  {% if request.session.current_user %}
  <form id="form" class="classForm">
    <h3>List of courses</h3>
      <table id="courseTable">
          <tr>
              <th>Course Name </th>
              <th>Section </th>
              <th>Location </th>
              <th>Start time </th>
              <th>End time </th>
              <th>Dates </th>
              <th>Instructor</th>
              <th>TAs</th>
          </tr>
        {% for course in courses %}
            <tr>

                <td>{{ course.name }}</td>
                <td>{{ course.section }}</td>
                <td>{{ course.location }}</td>
                <td>{{ course.startTime }}</td>
                <td>{{ course.endTime }}</td>
                <td>{{ course.dates }}</td>
                <td>
                    {% for u in course.graderTAs.all %}
                    {% if u.role == 2 %}
                        {{ u }} <br>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for u in course.graderTAs.all %}
                    {% if u.role == 1 %}
                        {{ u }} <br>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>

          {% endfor %}

      </table>
  </form>


  {% endif %}


{% endblock content %}