{% extends "base.html" %}
{% block content %}
{% if form.errors %}
<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}
  <form id="form" method="post" action="">
      {% csrf_token %}
      <table class="generalForm">
        {{form}}
      </table>
      <br>
      <div id="submitButton">
      <input id="input" class="input" type="submit">
      </div>
      <label1>
        <form id='OutForm'>
                {{ out | linebreaks }}
        </form>
</label1>

  </form>
 

  
{% endblock content %}

